body {
  display: none; /* hide whole document until content script is executed */
}

td > label {
  display: block;
  margin-bottom: 6px;
}

input[type=number] {
  width: 30px;
  text-align: center;
  outline: none;
  color: transparent;
  text-shadow: 0 0 0px #000;
  vertical-align: top;
}

select {
  border-width: 0;
  width: 40px;
  text-align: center;
  outline: none;
  vertical-align: top;
}

.tag {
  display: inline-block;
  padding-bottom: 2px;
  width: 50px;
  height: 16px;
  text-align: center;
  border-radius: 3px;
  background-color: #f0f6f3;
  pointer-events: none;
}
